table{
	margin-top: 50px;
	text-align: center;
	background: rgb(173, 182, 210);
	color: rgb(255, 255, 255);
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}

#icon{
    margin: 10px 34px;
}

#icon img{
    height: 145px;
    margin: 5px 5px;
}